.card img {
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 200px;
  object-fit: cover;
  display: inline;
}

#recipes-cards {
  perspective: 1000px;
}
.card {
  position: relative;
  width: 500px;
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  cursor: pointer;
}
#front,
#back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  backface-visibility: hidden;
}
#front {
  background-color: #f5f5f5;
}
#back {
  background-color: #f5f5f5;
  transform: rotateX(180deg);
  backface-visibility: hidden;
}
.flipped {
  transform: rotateX(180deg);
}

/* header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

.left {
  font-size: 22px;
  font-weight: 600;
}

.right {
  margin: 20px;
  font-size: 22px;
  word-spacing: 25px;
  font-weight: 600;
}

/* footer */
#save-recipe {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.flip-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.footer{
  background-color: white;
}
.footerContainer{
  width: 100%;
}
.icons{
  display: flex;
  justify-content: center;
}
.icons a{
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.icons a i{
  font-size: 2em;
  color: black;
}

.footerNav ul{
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.footerNav ul li a{
  color: black;
  margin: 20px;
  font-size: 20px;
}

.adjective-button {
  display: flex;
  flex-direction: column;
  background-color: #3490dc; 
  color: white;
  margin: 4px;
  padding: 6px;
  border-radius: 3px; 
  
 
}

.adjective-button:hover {
  background-color: #2779bd; 
  transform: scale(1.08);
}


#login-button {
  background-color: #3b82f6; 
  color: white; 
  padding: 8px 16px; 
  border-radius: 6px;  
  width: 100%; 
}

.graybg {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    background-color: #f3f4f6; 
    margin: 0; 

}

.whitebg {
  background-color: white; 
  padding: 24px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 320px; 
  max-width: 100%; 
}

.login {
  font-size: 20px; 
  font-weight: 600; 
  margin-bottom: 16px; 
  text-align: center; 
}

.input {
  width: 100%; 
  padding: 8px; 
  margin-bottom: 5px; 
  border: 1px solid #d1d5db; 
  border-radius: 4px; 
  font-size: 16px; 
  box-sizing: border-box; 
}