.card img {
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 200px;
  object-fit: cover;
  display: inline;
}

#recipes-cards {
  perspective: 1000px;
}
.card {
  position: relative;
  width: 500px;
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}
#front,
#back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  backface-visibility: hidden;
}
#front {
  background-color: #f5f5f5;
}
#back {
  background-color: #f5f5f5;
  transform: rotateX(180deg);
  backface-visibility: hidden;
}
.flipped {
  transform: rotateX(180deg);
}

/* header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

.left {
  font-size: 22px;
  font-weight: 600;
}

.right {
  margin: 20px;
  font-size: 22px;
  word-spacing: 25px;
  font-weight: 600;
}

/* footer */
footer{
}
#save-recipe {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.flip-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.footer{

  background-color: white;
}
.footerContainer{
  width: 100%;
}
.icons{
  display: flex;
  justify-content: center;
}
.icons a{
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.icons a i{
  font-size: 2em;
  color: black;
}

.footerNav ul{
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.footerNav ul li a{
  color: black;
  margin: 20px;
  font-size: 20px;
}

#add-new {  
    background-image: url(/imgs/plus-square-outline.256x256.png);
    background-size: contain;
    height: 80px;
    width: 80px;
}
#new-card:active #add-new{
    background-image: url(/imgs/plus-square.256x256.png);
    transition: 150ms;
}